<a href="https://colab.research.google.com/github/duaneywadey/A-collection-of-Jupyter-notebooks-and-CSV-files/blob/pandas-and-numpypractice/Copy_of_211_220_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Science Bootcamp

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 211](#1)
* [Exercise 212](#2)
* [Exercise 213](#3)
* [Exercise 214](#4)
* [Exercise 215](#5)
* [Exercise 216](#6)
* [Exercise 217](#7)
* [Exercise 218](#8)
* [Exercise 219](#9)
* [Exercise 220](#10)

### <a name='0'></a> Import of libraries

In [72]:
import numpy as np
import pandas as pd

np.__version__

'1.21.6'

### <a name='1'></a> Exercise 211
The following _DataFrame_ object is given:

```
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
```
Discretize the _height_ variable into 3 intervals of equal width. Assign the result to the new column _height_cut_.

In [73]:
# Discretize the height column into three intervals

df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df['height_cut'] = pd.cut(df['height'], bins=3)
df

   height          height_cut
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

### <a name='2'></a> Exercise 212
Discretize the _height_ variable into 3 intervals of the given form:
* (160, 175]
* (175, 180]
* (180, 195]

Assign the result to the new column _height_cut_2_.

In [74]:
# Use the three values to another column; bins should have sequence

df['height_column2'] = pd.cut(df['height'], bins=(160,175,180,195))
df

   height          height_cut height_column2
0   175.0  (167.977, 175.667]     (160, 175]
1   178.5  (175.667, 183.333]     (175, 180]
2   185.0    (183.333, 191.0]     (180, 195]
3   191.0    (183.333, 191.0]     (180, 195]
4   184.5    (183.333, 191.0]     (180, 195]
5   183.0  (175.667, 183.333]     (180, 195]
6   168.0  (167.977, 175.667]     (160, 175]

### <a name='3'></a> Exercise 213
Discretize the _height_ variable into 3 intervals of the given form:
* (160, 175]
* (175, 180]
* (180, 195]

and assign them the following labels:

* small
* medium
* high

Assign the result to the new column _height_cut_3_.

In [75]:
# Assign small, medium, and large to the following intervals

df['height_cut_3'] = pd.cut(df['height'], bins=(160, 175, 180, 195), labels=['small', 'medium', 'high'])
df

   height          height_cut height_column2 height_cut_3
0   175.0  (167.977, 175.667]     (160, 175]        small
1   178.5  (175.667, 183.333]     (175, 180]       medium
2   185.0    (183.333, 191.0]     (180, 195]         high
3   191.0    (183.333, 191.0]     (180, 195]         high
4   184.5    (183.333, 191.0]     (180, 195]         high
5   183.0  (175.667, 183.333]     (180, 195]         high
6   168.0  (167.977, 175.667]     (160, 175]        small

### <a name='4'></a> Exercise 214
Remove the _height_cut_ and _height_cut_2_ columns from the _df_ object.

In [76]:
# Drop height_cut and height_column2 columns

df = df.drop(columns=['height_cut', 'height_column2'], axis=1)
df

   height height_cut_3
0   175.0        small
1   178.5       medium
2   185.0         high
3   191.0         high
4   184.5         high
5   183.0         high
6   168.0        small

Rename the _height_cut_3_ column to _height_level_.

In [77]:
# Rename height_cut_3 to height_level

df = df.rename(columns={'height_cut_3': 'height_level'})
df

   height height_level
0   175.0        small
1   178.5       medium
2   185.0         high
3   191.0         high
4   184.5         high
5   183.0         high
6   168.0        small

### <a name='5'></a> Exercise 215
Get 0-1 encoding on _df_ with the _pd.get_dummies()_ function.

In [78]:
# Get 0-1 encoding using pd.get_dummies() function

pd.get_dummies(df)

   height  height_level_small  height_level_medium  height_level_high
0   175.0                   1                    0                  0
1   178.5                   0                    1                  0
2   185.0                   0                    0                  1
3   191.0                   0                    0                  1
4   184.5                   0                    0                  1
5   183.0                   0                    0                  1
6   168.0                   1                    0                  0

### <a name='6'></a> Exercise 216
The following _df_ object is given:

```
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
```
Build a new column called _length_ that will take the length of the _lang_ column list.

In [79]:
# Making a 'length' column that will store the length of the 'lang' column

df = pd.DataFrame(data={'lang': [['PL', 'RUS'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df['length'] = df['lang'].apply(len)
df

                  lang  length
0            [PL, RUS]       2
1  [GER, ENG, PL, FRA]       4
2                [RUS]       1

### <a name='7'></a> Exercise 217
Build a new column called _PL_flag_, which will be set to 1 when the language 'PL' is in the list in the _lang_ column, on the contrary 0.

In [85]:
# Creating a column with a condition based on the other column's value

# 'item' represents each value from the lang column

df['PL_flag'] = df['lang'].apply(lambda item: 1 if 'RUS' in item else 0)
df

                  lang  length  PL_flag
0            [PL, RUS]       2        1
1  [GER, ENG, PL, FRA]       4        0
2                [RUS]       1        1

### <a name='8'></a> Exercise 218
The following _df_ object is given:

```
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
```
Split the _website_ column by dot into two columns named _portal_ and _ending_.

In [87]:
# split() is a way to split the values from the dataframe based on the given symbol;  

df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})

df = df['website'].str.split('.', expand=True)
df.columns = ['portal', 'ending']
df

   portal ending
0      wp     pl
1    onet     pl
2  google    com

### <a name='9'></a> Exercise 219
Extract all rows of the _df_ object for which the _portal_ column contains the letter 'o'.

In [90]:
# Get all rows containing the letter 'o'

df[df['portal'].str.contains('o')]

   portal ending
1    onet     pl
2  google    com

### <a name='10'></a> Exercise 220
Replace all _com_ extensions from the _ending_ column with _org_.

In [91]:
# Replacing all 'com' to 'org'

df['ending'] = df['ending'].str.replace('com', 'org')
df

   portal ending
0      wp     pl
1    onet     pl
2  google    org