<a href="https://colab.research.google.com/github/duaneywadey/A-collection-of-Jupyter-notebooks-and-CSV-files/blob/data-structures-and-algorithms-review/PythonExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [203]:
# Multiply all odd nums by two

def calculate(numList):
  listofnums = []
  for i in numList:
    if i%2!=0:
      listofnums.append(i*2)
    else:
      listofnums.append(i)
  return listofnums

listnum = [4, 5, 6, 7]
calculate(listnum)

[4, 10, 6, 14]

In [204]:
# One liner

def calculate(numList):
  return[(2*i if i%2!=0 else i) for i in numList]

listnum = [4, 5, 6, 7]
calculate(listnum)

[4, 10, 6, 14]

In [205]:
# Counting positive and negative values

def howManyPos(numList):
  positive, negative = 0,0
  for n in numList:
    if n>=0:
      positive+=1
    else:
      negative+=1
  return positive,negative

listnum = [4, 5, 6,-2, 7]
howManyPos(listnum)

(4, 1)

In [206]:
# Cleaning numerical data

def preprocess(raw_data):
    return int(raw_data[2:].replace(',', ''))

preprocess("$ 158,400,800")

158400800

In [207]:
# Make hashtags

listran=['Hello', 'Im', 'Duane']

def createHashtag(raw_list):
  return '#' + ' #'.join(raw_list)

createHashtag(listran)

'#Hello #Im #Duane'

In [208]:
# Snake casing to camel casing

def convert(text):
    pascal_case = text.replace('_', ' ').title().replace(' ', '')
    return pascal_case[0].lower() + pascal_case[1:]

convert("calculate_summary")

'calculateSummary'

In [209]:
# Collect elements with .png

def collectPNG(stream):
    for chunk in stream[:]:
        if not chunk.endswith('.png'):
            stream.remove(chunk)
    return stream

def collectPNGAgain(elements):
    for e in elements[:]:
      if not e.endswith('.png'):
        elements.remove(e)
    return elements

# Solution 2

def collectPNGOneLine(elements):
  return [e for e in elements if e.endswith('.pdf')]

filelist = ['img546.png', 'img243.png', 'img247.txt', 'img2456.pdf']
collectPNGOneLine(filelist)

['img2456.pdf']

In [210]:
import random

def allMultofFive(numList):
  numList = [i for i in numList if i%5==0]
  return numList

a = [random.randint(1,10000) for x in range(10)]
allMultofFive(a)

[]

In [211]:
def startingWithA(stringlist):
  return[f for f in stringlist if f[0] == "A"]

listwords = ['Bob', 'Apple', 'Australia', 'Bahrain']
startingWithA(listwords)

['Apple', 'Australia']

In [212]:
def modList(pyList):
  newlist = [p for p in pyList if p%2==0 ]
  onlyunique = set(newlist)
  return onlyunique

oldlist = [5,2,4,1,6,3,6,9,8,9,9,9,9,7]
modList(oldlist)

{2, 4, 6, 8}

In [213]:
a=5
b=10
print(a)
print(b)

temp=a; # temp is equal to 5
a=b # a is equal to 10
b=temp # b is equal to 5

print(a)
print(b)

5
10
10
5

In [214]:
def factorial(n):
  if n<=1:
    return n
  else:
    return n * factorial(n-1)

factorial(10)

3628800

In [215]:
number_list = [ random.randint(1,1000) for x in range(20)]
print(number_list)
for n in number_list:
  print(n , "\t\tNo. of occurences: ", number_list.count(n))

[863, 768, 662, 422, 134, 695, 985, 885, 379, 383, 670, 390, 51, 827, 252, 658, 123, 143, 333, 30]
863 		No. of occurences:  1
768 		No. of occurences:  1
662 		No. of occurences:  1
422 		No. of occurences:  1
134 		No. of occurences:  1
695 		No. of occurences:  1
985 		No. of occurences:  1
885 		No. of occurences:  1
379 		No. of occurences:  1
383 		No. of occurences:  1
670 		No. of occurences:  1
390 		No. of occurences:  1
51 		No. of occurences:  1
827 		No. of occurences:  1
252 		No. of occurences:  1
658 		No. of occurences:  1
123 		No. of occurences:  1
143 		No. of occurences:  1
333 		No. of occurences:  1
30 		No. of occurences:  1

In [216]:
list_input=[1,2,3,4,6,3,2,4,6,4,2,4,7,8,6,4]
list_output = []
if list_input:
    m = list_input[0]
    print(m)
for x in list_input:
    m = max(m, x)
    list_output.append(m)
print(list_output)

1
[1, 2, 3, 4, 6, 6, 6, 6, 6, 6, 6, 6, 7, 8, 8, 8]

In [217]:
item_no = [5, 6, 7, 10,12]
max_no = 0  # Note 1 
for i in item_no:
    if i > max_no:
        max_no = i
        high = [i]
    elif i == max_no:
        high.append(i)
print(high)

[12]

In [218]:
listOfNum = [41,62,83,51,8,6,7,73,66,85,627,728,2,6,4,6]
maxNum = 0

for i in listOfNum:
  if i > maxNum:
    maxNum = i
    high = [i]
  elif i == maxNum:
    high.append(i)

print('Final', high)


# maxNum = 1,2,3,4
#

Final [728]

In [219]:
listOfNum = [41,62,83,51,8,6,7,73,66,85,62007,728,2,6,4,6]
maxNum = 0

for i in listOfNum:
  if i > maxNum:
    maxNum = i
    high = [i]
  elif i == maxNum:
    high.append(i)

print('Final', high)

Final [62007]

In [220]:
x = [2,3,5,9,1,0,-13,2,3]

def my_min(sequence):
    """return the minimum element of sequence"""
    low = sequence[0] # need to start with some value
    for i in sequence:
        if i < low:
            low = i
    return low

my_min(x)

-13

In [221]:
testList = [6,7,6,8,2,1,6,-6,-62,-627,62,631,8]

lowest = testList[0]
for i in testList:
  if i < lowest:
    lowest = i
print(lowest)

def bubbleSort(sortlist):
  sortlistLength = len(sortlist)
  for x in range(0,sortlistLength-1):
    for y in range(0,sortlistLength-1):
      if sortlist[y] > sortlist[y+1]:
        temp = sortlist[y] 
        sortlist[y] = sortlist[y+1] 
        sortlist[y+1] = temp 
  return sortlist

bubbleSort(testList)

-627

[-627, -62, -6, 1, 2, 6, 6, 6, 7, 8, 8, 62, 631]

In [222]:
greatest = testList[0]
for s in testList:
  if s > greatest:
    greatest=s
print(greatest)

631

In [223]:
def linearSearch(searchList,n):
  for i in range(len(searchList)):
    if (searchList[i] == n):
      return n
    

array = [2, 4, 0, 1, 9]
linearSearch(array,4)
print(len(array))

5

In [226]:
def bubbleSortNew(listtest):
  totalLength = len(listtest)
  for x in range(0,totalLength-1):
    for y in range(0,totalLength-1):
      if listtest[y] > listtest[y+1]:
       # 100, 60 
        temp = listtest[y]
        listtest[y] = listtest[y+1]
        listtest[y+1] = temp 
    return listtest

bubbleSortNew(testList)

[-627, -62, -6, 1, 2, 6, 6, 6, 7, 8, 8, 62, 631]