<a href="https://colab.research.google.com/github/duaneywadey/A-collection-of-Jupyter-notebooks-and-CSV-files/blob/data-structures-and-algorithms-review/PythonAlgosAndOneLiners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# LIST COMPREHENSION STRUCTURE

# [<random>, <for loop>, <condition>]

import random 
mylist=[random.randint(1, 6) for i in range(6)]
print(mylist)

[5, 6, 5, 6, 4, 6]

In [10]:
# List comprehension examples

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != 'apple']
newlistagain = [y for y in fruits if y!= 'banana']
print(newlistagain)

['apple', 'cherry', 'kiwi', 'mango']

In [14]:
def removeApple(exampleList):
  exampleList = [x for x in exampleList if x!='apple']
  return exampleList

removeApple(fruits)

['banana', 'cherry', 'kiwi', 'mango']

In [26]:
mynewlist = [random.randint(1,100) for x in range(10)]

def removeOdd(exampleList):
  exampleList = [x for x in exampleList if x%2==0]
  return exampleList

removeOdd(mynewlist)

[100, 6, 92, 6, 42]

In [33]:

# Removing vowels from the elements in a list 

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

def removeVowels(exList):
  vowels= ['a','e','i','o','u']
  for i in range(len(exList)):
    for v in vowels:
      exList[i] = exList[i].replace(v, '')
  return exList

removeVowels(fruits)

['ppl', 'bnn', 'chrry', 'kw', 'mng']

In [39]:
# Most frequent element in a list
numbers = [9, 4, 5, 4,5, 5, 5, 5, 4, 5, 9, 5, 4, 8, 9, 10,4,4,4,4,4]
most_frequent_element = max(set(numbers), key=numbers.count)
print(most_frequent_element)

# Prints all unique elements from the list
print(set(numbers))

4
{4, 5, 8, 9, 10}

In [59]:
# Squaring randon numbers in a list

getSquared = [random.randint(1,100) for i in range(1,10)]
getSquaredFinal = [(x)*(x) for x in getSquared]
print(getSquaredFinal)

[3600, 7396, 1849, 324, 2916, 1764, 441, 484, 676]

In [67]:
# Lambda function

randomList = [random.randint(1,10) for i in range(1,20)]
a = list(map(lambda x: x if x%2==0 else x+1, randomList))
print("Original list: ", randomList)
print(a)

Original list:  [4, 8, 10, 3, 10, 7, 4, 9, 9, 10, 5, 7, 6, 1, 1, 5, 1, 8, 10]
[4, 8, 10, 4, 10, 8, 4, 10, 10, 10, 6, 8, 6, 2, 2, 6, 2, 8, 10]

In [78]:
# Python Slicing

li = [x for x in range(1,20+1)]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [82]:
# Starting from index zero

print(li[0:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [83]:
# Starting from index four

print(li[4:])

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [87]:
# Starting from index four to index six - 1

print(li[4:6])

[5, 6]

In [95]:
# Start from beginning up to end (minus 5)

print(li[:-5])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [98]:
# Double all numbers using map and lambda

numbers = (1, 2, 3, 4)

result = map(lambda x: x + x, numbers)
anotherResult = map(lambda x: x*x, numbers)
print(list(anotherResult))

[1, 4, 9, 16]

In [101]:
# Lambda with strings

concatList = ['Ivan', 'Avian', 'Dwayne']
concatList2 = ['Duane', 'Cruz', 'Santos']

result = map(lambda x,y: x+ " " + y, concatList, concatList2)
print(list(result))

['Ivan Duane', 'Avian Cruz', 'Dwayne Santos']